.news-container {
    background-image: url('../../assets/ba.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
    animation: fadeIn 1.5s ease-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .news-title {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right, #ffeed5, #fffbd5);
    -webkit-background-clip: text;
    color: transparent;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 20px;
    text-align: center;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .news-card {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    cursor: pointer;
    animation: fadeInUp 0.5s forwards;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .news-card:nth-child(1) {
    animation-delay: 0s;
  }
  
  .news-card:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .news-card:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .news-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .news-card:hover .news-card-content {
    transform: rotateY(180deg);
    
  }
  
  .news-card-front,
  .news-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  .news-card-front {
    background-color: #d32f2f;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .news-card-front img {
    width: 100%;
    height: 120%; 
    object-fit: cover; 
    object-position: center; 
    border-radius: 15px 15px 0 0;
    
  }
  
  .news-card-front h2 {
    font-size: 1.2rem;
    padding: 0 10px;
  }
  
  .news-card-back {
    background-color: #b71c1c;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .news-card-back p {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  
  .news-card-back a {
    color: #ffeb3b;
    text-decoration: underline;
  }
  